body {
    background-color: red;
}

nav {
    padding-bottom: 1%;
}

.nav-menu {
    background-color: yellow;
    margin-top: -15px;
    margin-bottom: 15px;
    position: static;
}

.ul-menu {
    display: flex;
}

.text1 {
    padding-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 10%;
    display: flex;
}

.contenedor {
    display: inline-block;
}

.despegable {
    position: relative;
    display: none;
    color: black;
    font-size: 15px;
}

.a2:hover {
    color: violet;
}

.contenedor:hover .despegable {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transform: scale(1.1);
}
a{
    text-decoration: none;
}
a:hover{
    transform: scale(1.1);
}

.carrusel{
    display: flex;
}
.imgs{
    margin-left: 1rem;
}

.imgs:hover{
    transform: scale(1.1);
    float: center;
        
}