body {
    background-color: red;

}

nav {
    padding-bottom: 1%;
}

.nav-menu {
    background-color: yellow;
    margin-top: -15px;
    margin-bottom: 15px;
    position: static;
}

.ul-menu {
    display: flex;
}

.text {
    padding-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 10%;
    display: flex;
}

.container {
    display: inline-block;
}

.despegable {
    position: relative;
    display: none;
    color: black;
    font-size: 15px;
}

.a2:hover {
    color: violet;
}

.container:hover .despegable {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transform: scale(1.1);
}

.divP {
    display: flex;
}

.divimg {
    display: flex;
}

.img1 {
    width: auto;
    height: auto;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
    font-size: 100px;
    margin-left: 3.5rem;
}
.csta{
    font-size: 70px;
    margin-left: 3rem;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    text-align: justify;
    font-size: 25px;
    margin-left: 1rem;
}
.h1trad{
    font-size: 80px;
    margin-left: 1rem;
}
.img2{
    margin-top: 2.5rem;
    width: 780px;
    height: 550px;
}